{%  extends 'bata/Dashboard/assets/Distributor/base.html' %}
{% block content %}
  {% load static %}
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Reports</a></li>
<li class="breadcrumb-item active" aria-current="page">Seller Demand Repotrs</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
<div class="hk-pg-header">
 <h4 class="hk-pg-title"><span class="pg-title-icon">
    <span class="feather-icon"><i data-feather="database"></i></span></span>Seller Demand Reports  </h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Invocie Number</th>
                                                    <th>Seller Name</th>
                                                    <th>Seller Contact no.</th>
                                                    <th>Product in Demand</th>
                                                    <th>Date of demand</th>
                                                    <th>Last date of Demand</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Action</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for detail in details %}

<tr>
<td>{{detail.id}}</td>
<td>{{detail.first_name}}</td>
<td>{{detail.phone}}</td>
<td>{{detail.product}}</td>
<td>{{detail.Demand_date}}</td>
<td>{{detail.Requirement_date}}</td>
<td>{{detail.Quantity}}</td>
<td>{{detail.price}}</td>


<td>
<a href="{% url 'Fullfill_seller_demand' detail.id %}" > Click to Fullfill</a>
</td>
</tr>
                                                    {% endfor %}


                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

            <!-- Footer -->

            <!-- /Footer -->
 
	{% endblock %}
