{%  extends 'bata/Dashboard/assets/Distributor/base.html' %}
{% block content %}
  {% load static %}
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Reports</a></li>
<li class="breadcrumb-item active" aria-current="page">Seller Demand Repotrs</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
<div class="hk-pg-header">
    <h4 class="hk-pg-title"><span class="pg-title-icon">
    <span class="feather-icon"><i data-feather="database"></i></span></span>View Total Demands of Product from Dates</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
<form form class="form-horizontal" role="search" method="get" action="{% url 'seller_demand_report' %}">

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Select Date</label>
<input type="date" class="form-control" id="search_bar" name="query"  placeholder= "select date " required>
<div class="invalid-feedback">Please provide a valid Product Type.</div>
</div>
</div>


<button class="btn btn-primary" type="submit" name="search">search</button>
</form>                                </div>
                            </div>



                        </section>

 <h4 class="hk-pg-title"><span class="pg-title-icon">
    <span class="feather-icon"><i data-feather="database"></i></span></span>Seller Demand Reports  </h4>
                </div>
                <!-- /Title -->
 {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">

                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Seller Name</th>
                                                    <th>Product in Demand</th>
                                                    <th>Date of demand</th>
                                                    <th>Last date of Demand</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for detail in detail %}

<tr>
<td>{{detail.first_name}}</td>
<td>{{detail.product}}</td>
<td>{{detail.Demand_date}}</td>
<td>{{detail.Requirement_date}}</td>
<td>{{detail.Quantity}}</td>
<td>{{detail.price}}</td>



    <td>
        <form action=" " class="needs-validation" method="post" novalidate>

    {% csrf_token %}

    <input type="hidden" class="form-control" name="tracking_id" required="" id="id_tracking_id" VALUE="{{detail.Track_id}}">

     <input type="hidden" class="form-control" name="date" required="" value="{% now "Y-m-d " %}">
   <input type="hidden" class="form-control" name="track_status" maxlength="999" required="" id="id_track_status" value="Ditributor was forwarded your demand to plant admin">

   <button class="btn btn-primary" type="submit" name="submit">Update Status</button>
</form>
</td>

<td>
<a href="{% url 'edit_sellerdemand_status' detail.id %}" > Click to Fullfill</a>
</td>
</tr>
                                                    {% endfor %}
<?php

$month = date('m');
$day = date('d');
$year = date('Y');

$today = $year . '-' . $month . '-' . $day;
?>

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
<h4 class="hk-pg-title"><span class="pg-title-icon">
                    <span class="feather-icon"><i data-feather="database"></i></span></span>Update Status</h4>

            </div>
            <!-- /Container -->

            <!-- Footer -->

            <!-- /Footer --> <script>
  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  document.getElementById("currentDate1").value = date;
</script>
 
	{% endblock %}
