
{%  extends 'bata/Dashboard/assets/seller/base.html' %}
{% block content %}
  {% load static %}
    
    
	
	<div class="hk-wrapper hk-vertical-nav">



       


        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
      

<!-------------------------------------------------------------------------------------------->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Search</a></li>
<li class="breadcrumb-item active" aria-current="page">Product</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Return Product</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
                                       
<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Return Product</label>
<input type="text" class="form-control" id="validationCustom03" placeholder="Product Name" name="productname" required>
<div class="invalid-feedback">Please provide a valid  Product</div>
</div>
</div>

                                 
<button class="btn btn-primary" type="submit" name="search">search</button>
</form>
</div>
</div>
</section>
<!--code for search result -->
<div class="row">
                    <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
                                      


 <div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Product</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="productname" required>
<div class="invalid-feedback">Please provide a valid Product Name.</div>
</div>
</div>   

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Quantity</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="Quantity" required>
<div class="invalid-feedback">Please provide a valid Quantity.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Lot no</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="Lot_no" required>
<div class="invalid-feedback">Please provide a valid Lot no.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Defect</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="Defect" required>

</div>
</div>


<button class="btn btn-primary" type="submit" name="update">Return</button>
</form>
</div>
</div>
</section>


                                    </div>
                                </div>
                            </div>
</section>
                        






    




</div>
</div>
</div>


            <!-- Footer -->

            <!-- /Footer -->

        </div>
        
                     
</div>
</div>
</div>


            <!-- Footer -->

            <!-- /Footer -->

        </div>
        <!-- /Main Content -->

    </div>


    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>
    <script src="{% static 'dist/js/init.js' %}"></script>
    <script src="{% static 'dist/js/validation-data.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
     <style type="{% static 'text/css' %}">
        #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}
	
	{% endblock %}
	
	
   

 