{%  extends 'bata/Dashboard/assets/seller/base.html' %}
{% block content %}
  {% load static %}


	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

<!-- Top Navbar -->




        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!-- /Vertical Nav -->

<!-------------------------------------------------------------------------------------------->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Search</a></li>
<li class="breadcrumb-item active" aria-current="page">Invoice</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Invoice</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">


<!--code for search result -->





<form class="needs-validation" method="post" novalidate>

<!--- Shopping Cart ---->
<section class="hk-sec-wrapper">

                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
<h4>Manage Invoice</h4>
<hr />



  <table id="datable_1" class="table table-hover w-100 display pb-30" border="1">
<tbody>
<tr>
<th>#</th>
<th>Seller name</th>
<th>Seller Location</th>
<th>Tracking Id</th>

<th >View Invoice</th>


</tr>

           <input type="hidden" value="" name="quantity[]">
           {% for detail in detail %}

                <tr>
                <td>{{detail.id}}</td>
                <td>{{detail.first_name}}</td>
                <td>{{detail.location}}</td>

                <td>{{detail.Track_id}}</td>
                    <td><a href="{% url 'view_invoice' detail.Track_id %}">Invoice</a></td>

                </tr>
        {% endfor %}


<tr>


<td></td>
</tr>
</tbody>
</table>


</form>




</div>
</div></div></section>








</div>
</div>
</div>



    <style type="{% static 'text/css' %}">
        #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
    }

    </style>
{% endblock %}

