{%  extends 'bata/Dashboard/assets/Distributor/base.html' %}
{% block content %}
  {% load static %}
   
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">
<!-- Top Navbar -->

        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!-- /Vertical Nav -->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Invoice</a></li>
<li class="breadcrumb-item active" aria-current="page">View</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
<div class="hk-pg-header">

                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">


  <section class="hk-sec-wrapper hk-invoice-wrap pa-35">
                            <div class="invoice-from-wrap">
                                <div class="row">
                                    <div class="col-md-7 mb-20">
<center><h3 class="mb-35 font-weight-600" style="position: absolute;
    left: 70%;margin: -10px"> BATA </h3></center>
<img class="mb-35 font-weight-600" src="{% static 'dist/img/favicon.png' %}" style="height: 30px;width: 30px;top: -0px;
position: absolute;
left: 60%;margin: -10px">
<!--<h6 class="mb-5">Footware</h6>-->

</div>
</div>
{% for invoice in invoice %}


<h4 class="mb-5 ">Your Details</h4>
<span class="d-block">Distributer:{{invoice.first_name}}<span class="pl-10 text-dark"></span></span>
<span class="d-block">City:{{invoice.location}}<span class="pl-10 text-dark"></span></span>


<h4 class="mb-5 " style="left: 60%;position: relative;top:-50px;">Sellers Details</h4>
<div style="left: 60%;position: relative;top:-50px;">Seller Name:<span class="pl-10 text-dark"></span></div>
<div style="left: 60%;position: relative;top:-50px;">Address:{{invoice.location}}<span class="pl-10 text-dark"></span></div>
<div style="left: 60%;position: relative;top:-50px;">Contact:<span class="pl-10 text-dark"></span></div>


<hr class="mt-0">
<span class="d-block">Invoice No #{{invoice.Track_id}}<span class="pl-10 text-dark"></span></span>
<span class="d-block">Invoice Date #{{invoice.Demand_date}}<span class="pl-10 text-dark"></span></span>


</div>



<hr class="mt-0">
                        
                          
                       
<div class="row">
<div class="col-sm">
<div class="table-wrap">
<table class="table mb-0" border="1">
<thead>
<tr style="color: cadetblue;">
<th>#</th>
<th >Item</th>
<th width="5%">Quantity</th>
<th width="10%">Rate</th>
<th width="10%">Subtotal</th>

</tr>
                                            </thead>
                                            <tbody>
                                                
<tr>
<td>{{invoice.id}}</td>
<td>{{invoice.product_id}}</td>
<td>{{invoice.Quantity}}</td>
<td>{{invoice.price}}</td>
<td></td>
<td></td>
<td></td>
</tr>
{% endfor %}

                                              
                                            </tbody>
                                        </table>



                                    </div>
                                </div>
                                
                                
                                <div class="table-wrap" >
                                    <table class="table mb-0" style="border:solid black 1px;">
                                    <thead>
                                    <tr style="background-color: rgb(158, 195, 197);border:solid black 1px; width:60px;color: black;">
                                    <th>Invoice Summery</th>
                                    </tr>
                                    <tr>
                                        <th width="5%">Subtotal</th>
                                    </tr>
                                    <tr>
                                        <th width="5%">Tax(15%)</th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" style="text-align:center; font-size:20px;">Total</th> 
                                        <th style="text-align:left; font-size:20px; color: blueviolet;"></th>   
                                        
                                        </tr>
                                        </thead>
                                    
                                    
                                    

                            </div>
                        </section>

                    </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

            <!-- Footer -->

            <!-- /Footer -->
        </div>
        <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->

 <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>
    <script src="{% static 'dist/js/init.js' %}"></script>
    <script src="{% static 'dist/js/validation-data.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

	
	{% endblock %}