
{%  extends 'bata/Dashboard/assets/seller/base.html' %}
{% block content %}
  {% load static %}
    
    
	
	<div class="hk-wrapper hk-vertical-nav">



       


        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
      

<!-------------------------------------------------------------------------------------------->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Demand</a></li>
<li class="breadcrumb-item active" aria-current="page">Demand for Products</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Demand for Products</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
                                       
<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Product Name</label>
<input type="text" class="form-control" id="validationCustom03" placeholder="Product Name" name="productname" required>
<div class="invalid-feedback">Please provide a valid Product Type.</div>
</div>
</div>

                                 
<button class="btn btn-primary" type="submit" name="search">search</button>
</form>
</div>
</div>
</section>
<!--code for search result -->
<div class="row">
                    <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
                                      


 <div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Price</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="productname" readonly>
<div class="invalid-feedback">Please provide a valid Category name.</div>
</div>
</div>   

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Quantity</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="productprice" required>
<div class="invalid-feedback">Please provide a valid Quantity.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Date of Requirment</label>
<input class="form-control" type="date" name="fromdate" required />
<div class="invalid-feedback">Please provide a valid from date.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Plant ID</label>
<input type="text" class="form-control" id="validationCustom03" value="" name="productprice" required>
<div class="invalid-feedback">Please provide a Plant ID .</div>
</div>
</div>

<button class="btn btn-primary" type="submit" name="update">ADD</button>
</form>
</div>
</div>
</section>



                   
<section class="hk-sec-wrapper">
     
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
<h4> For Demand</h4>
<hr />


 
  <table id="datable_1" class="table table-hover w-100 display pb-30" border="1">
<tbody>
<tr>
<th>#</th>
<th> Requirment Date </th>
<th> Product</th>

<th >Quantity</th>

<th>Price</th>
<th>Plant id</th>

</tr>   

           <input type="hidden" value="" name="quantity[]">
                <tr>
                <td></td>
                <td></td>
                <td></td>
               
                <td></td>
                <td></td>
                <td></td>
			
               
                </tr>
               

<tr>


<td></td>
</tr>
</tbody>
</table>				   






    




</div>
</div>
</div>


            <!-- Footer -->

            <!-- /Footer -->

        </div>
        
                     
</div>
</div>
</div>


            <!-- Footer -->

            <!-- /Footer -->

        </div>
        <!-- /Main Content -->

    </div>


       <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>
    <script src="{% static 'dist/js/init.js' %}"></script>
    <script src="{% static 'dist/js/validation-data.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
     <style type="{% static 'text/css' %}">
        #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}
	
	{% endblock %}