{%  extends 'bata/Dashboard/assets/RM_provider/base.html' %}
{% block content %}
  {% load static %}
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Product</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Ship The consignment</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form action=" " class="needs-validation" method="post" novalidate>

    {% csrf_token %}


									{% if error%}
									<div class="alert alert-danger" role="alert">
										{{form.errors}}
									</div>
									{% endif %}


 <div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Consignment Status</label>
{{form.status}}<div class="invalid-feedback">Please provide a valid Consignment Status.</div>
</div>
</div>




<button class="btn btn-primary" type="submit" name="submit">UPDATE STATUS</button>
                  {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
</form>
</div>
</div>


</section>

</div>
</div>
</div>


            <!-- Footer -->

            <!-- /Footer -->

        </div>
        <!-- /Main Content -->

    </div>

   
{% endblock %}
