{%  extends 'bata/Dashboard/assets/plantadmin/base.html' %}
{% block content %}
  {% load static %}
    <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Search</a></li>
<li class="breadcrumb-item active" aria-current="page">RowMaterial Type</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>Demand For RowMaterial</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

<!--code for search result -->
<div class="row">
                    <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
    {% csrf_token %}
{% if error%}
									<div class="alert alert-danger" role="alert">
										{{form.errors}}
									</div>
									{% endif %}


<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">#Lot No.</label>
<input type="text" class="form-control" name="Lot_number" maxlength="30" required="" id="id_Lot_number">
<div class="invalid-feedback">Please provide a valid Lot No..</div>
</div>
</div>
 <div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Category</label>
   {{ form.Raw_type }}
    <div class="invalid-feedback">Please provide a valid Category name.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Quantity</label>
<input type="number" class="form-control" name="Quantity" required="" id="id_Quantity">
<div class="invalid-feedback">Please provide a valid Quantity.</div>
</div>
</div>

    <div class="form-row">
<div class="col-md-6 mb-10">

 <input  type="hidden" class="form-control" name="Demand_date" required="" id="currentDate" >
    <div class="invalid-feedback">Please provide a valid product price.</div>
</div>
</div>
<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Date of Requirment</label>
    <input type="date" class="form-control" name="Requirement_date" required="" id="id_Requirement_date">
<div class="invalid-feedback">Please provide a valid from date.</div>
</div>
</div>

    <div class="form-row">
<div class="col-md-6 mb-10">
 <input  type="hidden" class="form-control" name="user_id" id="id_user_id" value="{{id}}">
    <div class="invalid-feedback">Please provide a valid product price.</div>
</div>
</div>

<div class="form-row">
<div class="col-md-6 mb-10">
<input type="hidden" name="user_location" maxlength="40" required="" id="id_user_location" value="{{location}}">
    <div class="invalid-feedback">Please provide a valid from date.</div>
</div>
</div>

   <div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Status :  </label>
{{form.status}}
    <div class="invalid-feedback">Please provide a valid Quantity.</div>
</div>
</div>

<button class="btn btn-primary" type="submit" name="update">DEMAND</button>
</form>
</div>
</div>
</section>
</div>
</div>
</div>


            <!-- Footer -->


        </div>
        <!-- /Main Content -->

    </div>
       <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>
    <script src="{% static 'dist/js/init.js' %}"></script>
    <script src="{% static 'dist/js/validation-data.js' %}"></script>
	<style type="{%static 'text/css' %}">
        #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

    </style>
<script>
  var today = new Date();
  var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  document.getElementById("currentDate").value = date;
</script>
{% endblock %}
	

	
	

