{%  extends 'bata/Dashboard/assets/plantadmin/base.html' %}
{% block content %}
  {% load static %}


	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

<!-- Top Navbar -->




        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
        <!-- /Vertical Nav -->

<!-------------------------------------------------------------------------------------------->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Search</a></li>
<li class="breadcrumb-item active" aria-current="page">RowMaterial</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>RowMaterial category</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">

<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form form class="form-horizontal" role="search" method="get" action="{% url 'stage_one_RowMaterial_lot' %}">

<div class="form-row">
<div class="col-md-6 mb-10">
<label for="validationCustom03">Select Date</label>
<input type="date" class="form-control" id="search_bar" name="query"  placeholder= "select date " required>
<div class="invalid-feedback">Please provide a valid Product Type.</div>
</div>
</div>


<button class="btn btn-primary" type="submit" name="search">search</button>
</form>
</div>
</div>
</section>
<!--code for search result -->





<section>
 <div id="app">
      <div id="chart">
      <apexchart type="treemap" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
    </div>



</div>
</div></div></section>








</div>
</div>
</div>


    <style type="{% static 'text/css' %}">
        #btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
    }

       #chart {
      padding-right: 10px;
      max-width: 650px;
      margin: 35px auto;
    }


    </style>
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

 <script>
      new Vue({
        el: '#app',
        components: {
          apexchart: VueApexCharts,
        },
        data: {

          series: [
            {
              data: [
                {
                  x: 'Polyurethane',
                  y:  {% for detail in detail %}  {{detail.poly}}   {% endfor %}

                },
                {
                  x: 'Rubber',
                  y: {% for detail in detail %}  {{detail.r}}   {% endfor %}
                },
                {
                  x: 'Dye',
                  y: {% for detail in detail %}  {{detail.d}}   {% endfor %}
                },
                 {
                  x: 'GUM',
                  y: {% for detail in detail %}  {{detail.g}}   {% endfor %}
                },
                 {
                  x: 'PVC_Sole',
                  y: {% for detail in detail %}  {{detail.pvc}}   {% endfor %}
                },
                 {
                  x: 'TPR',
                  y: {% for detail in detail %}  {{detail.tpr}}   {% endfor %}
                },
                {
                  x: 'Hard_Thread',
                  y: {% for detail in detail %}  {{detail.h}}   {% endfor %}
                },
                {
                  x: 'Rexene',
                  y: {% for detail in detail %}  {{detail.re}}   {% endfor %}
                },
                {
                  x: 'Clips',
                  y: {% for detail in detail %}  {{detail.cl}}   {% endfor %}
                },
                {
                  x: 'Color',
                  y: {% for detail in detail %}  {{detail.co}}   {% endfor %}
                },

              ]
            }
          ],
          chartOptions: {
            legend: {
              show: false
            },
            chart: {
              height: 350,
              type: 'treemap'
            },
            title: {
              text: 'Raw Material warehouse'
            }
          },


        },

      })
    </script>
{% endblock %}

