{%  extends 'bata/Dashboard/assets/plantadmin/base.html' %}
{% block content %}
  {% load static %}
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Product Lot</a></li>
<li class="breadcrumb-item active" aria-current="page">Manage</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
<div class="hk-pg-header">
 <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span> Product lot</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                   
													<th>#ID</th>
													<th>Product Name</th>
													<th>Price</th>
													<th>Edit</th>
													<th>Delete</th>

                                                    
                                                </tr>
                                            </thead>
                                            <tbody
                                                    {% for detail in detail %}

<tr>
<td>{{detail.id}}</td>
<td>{{detail.name}}</td>
<td>{{detail.price}}</td>

<td>
<a href="{% url 'edit_product' detail.id %} " class="mr-25" data-toggle="tooltip" data-original-title="Edit"> <i class="icon-pencil"></i></a>
</td>
    <td>
<a href="productlot-status-update.html" class="mr-25" data-toggle="tooltip" data-original-title="Edit"> <i class="icon-pencil"></i></a>
</td>
</tr>
        {% endfor %}

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <!-- /Row -->

       
   
	
	{% endblock %}