{%  extends 'bata/Dashboard/assets/plantadmin/base.html' %}
{% block content %}
  {% load static %}
    <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Search</a></li>
<li class="breadcrumb-item active" aria-current="page">Product making</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">

                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="external-link"></i></span></span>product making required material</h4>
                </div>
                <!-- /Title -->

                <div class="row">
                  <div class="col-xl-12">

<!--code for search result -->
<div class="row">
                  <div class="col-xl-12">
<section class="hk-sec-wrapper">

<div class="row">
<div class="col-sm">
<form class="needs-validation" method="post" novalidate>
  {% csrf_token %}
{% if error%}
                <div class="alert alert-danger" role="alert">
                  {{form.errors}}
                </div>
                {% endif %}


<div class="form-row">
  <div class="col-md-6 mb-10">
<script type="text/javascript">
  function ShowHideDiv() {
      var ddlPassport = document.getElementById("ddlPassport");
      var dvsandal = document.getElementById("SANDAL");
      var dvhush = document.getElementById("HUSH");
      var dvformal = document.getElementById("FORMAL");
      var dvbuckled = document.getElementById("BUCKLED");
      var dvbuda = document.getElementById("BUDAPESTER");
      var dvlace = document.getElementById("LACE");

      dvsandal.style.display = ddlPassport.value == "SANDAL" ? "block" : "none";
     dvhush.style.display = ddlPassport.value == "HUSH" ? "block" : "none";
     dvformal.style.display = ddlPassport.value == "FORMAL" ? "block" : "none";
     dvbuckled.style.display = ddlPassport.value == "BUCKLED" ? "block" : "none";
     dvbuda.style.display = ddlPassport.value == "BUDAPESTER" ? "block" : "none";
     dvlace.style.display = ddlPassport.value == "LACE" ? "block" : "none";

  }
</script>
<span>Product</span>
  <select id = "ddlPassport" onchange = "ShowHideDiv()">
      <option value="N">No</option>
      <option value="SANDAL">SANDAL</option>  
              <option value="HUSH">HUSH PUPPIES</option>
              <option value="FORMAL">Formal Shoes</option>
<option   value="BUCKLED">Buckled Shoes</option>
<option id="5" value="BUDAPESTER">Budapester Shoes</option>
<option id="6" value="LACE">Lace-up Shoes</option>

  </select>
<hr />
<!--Sandal-->
<div id="SANDAL" style="display: none">
Demand quantity:
  <input type="text" id="txtPassportNumber" />

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>
  Polyurethane:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
  
   Rubber:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
  
   Dye:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
</br>
  <input TYPE ="text" id="demo" value="SANDAL" readonly ></INPUT>
</br>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>


<!-------------------------------------------------------------------------->
<!--HUSH PUPPIES -->
<div id="HUSH" style="display: none">
  Demand quantity:
  <input type="text" id="txtPassportNumber" />
  

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>

<div class="form-row">
  GUM:
  <input type="text"  class="form-control" id="txtPassportNumber" />
  
   PVC Sole:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

   TPR Material:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Color:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
</br>
</div>


</br>
<input TYPE ="text" id="demo" value="HUSH PUPPIES" readonly ></INPUT>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>
<!----------------------------------------------------------------->
<!-- Formal Shoes-->

<div id="FORMAL" style="display: none">
  Demand quantity:
  <input type="text" id="txtPassportNumber" />

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>

<div class="form-row">
  Hard Thread:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text"  class="form-control" id="txtPassportNumber" />
  
   PVC Sole:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Rexene:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Color:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
</br>
</div>


</br>
<input TYPE ="text" id="demo" value="Formal Shoes" readonly ></INPUT>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>
<!----------------------------------------------------------------->

<!-- Buckled Shoes-->
<div id="BUCKLED" style="display: none">
  Demand quantity:
  <input type="text" id="txtPassportNumber" />
  

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>

<div class="form-row">
  GUM:  Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:30px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  
   PVC Sole:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:30px;"/>
 
  <input type="text" class="form-control" id="txtPassportNumber" />
 
  TPR Material: Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:30px;"/>

  <input type="text" class="form-control" id="txtPassportNumber" />

  Clips:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />


  Color:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:30px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:30px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />


</br>
</div>


</br>
<input TYPE ="text" id="demo" value="Buckled Shoes" readonly ></INPUT>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>

<!----------------------------------------------------------------->
<!-- Budapester Shoes-->

<div id="BUDAPESTER" style="display: none">
  Demand quantity:
  <input type="text" id="txtPassportNumber" />
  

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>

<div class="form-row">
  Polyurethane:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text"  class="form-control" id="txtPassportNumber" />
  
   PVC Sole:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

   TPR Material:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Dye:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
</br>
</div>


</br>
<input TYPE ="text" id="demo" value="Budapester Shoes" readonly ></INPUT>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>

<!----------------------------------------------------------------->
<!-- Lace-up Shoes-->
<div id="LACE" style="display: none">
  Demand quantity:
  <input type="text" id="txtPassportNumber" />
  

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</br>

<div class="form-row">
  Hard Thread:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text"  class="form-control" id="txtPassportNumber" />
  
   PVC Sole:Price
   <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Rubber:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Color:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />

  Packing Material:Price
  <input type="text"  id="txtPassportNumber"  style="width:60px;height:27px;"/>
  <input type="text" class="form-control" id="txtPassportNumber" />
</br>
</div>


</br>
<input TYPE ="text" id="demo" value="Lace-up Shoes" readonly ></INPUT>
</br>

<button class="btn btn-primary" type="submit" name="update">SUBMIT</button>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>


            <!-- Footer -->


        </div>
        <!-- /Main Content -->

    </div>
{% endblock %}