{%  extends 'bata/Dashboard/assets/plantadmin/base.html' %}
{% block content %}
  {% load static %}

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
<li class="breadcrumb-item"><a href="#">Status of Raw_Material In DEMAND</a></li>
<li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">

                <!-- Title -->
<div class="hk-pg-header">
 <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span> Status of Raw_Material In DEMAND</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_1" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
													<th>#Lot No.</th>
													<th>Date of Demand</th>
													<th>last date of Released demand</th>

													<th>Plant_Admin Location</th>
													<th>RowMaterial Category</th>
													<th>Quantity</th>
													<th>status</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
           {% for detail in detail %}

<tr>

<td>{{detail.Lot_number}}</td>
<td>{{detail.Demand_date}}</td>
<td>{{detail.Requirement_date}}</td>
<td>{{detail.user_location}}</td>
<td>{{detail.Raw_type}}</td>
<td>{{detail.Quantity}}</td>
<td>{{detail.status}}</td>

</tr>
        {% endfor %}
                                             {% for detail in details %}

<tr>

<td>{{detail.Lot_number}}</td>
<td>{{detail.Demand_date}}</td>
<td>{{detail.Requirement_date}}</td>
<td>{{detail.user_location}}</td>
<td>{{detail.Raw_type}}</td>
<td>{{detail.Quantity}}</td>
<td>{{detail.status}}</td>

</tr>
        {% endfor %}

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

            <!-- Footer -->

            

	
	{% endblock %}
